body {
  font-family: 'VT323', monospace;
  color: #FF0092;
  display: flex;
  flex-direction: column;
  background-color: black;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  overflow: hidden;
}

h1 {
  font-size: 1200%;
  text-shadow: -3px 0 #fffa00, 0 3px #fffa00, 3px 0 #fffa00, 0 -3px #fffa00;
  margin-top: 5%;
  margin-bottom: 5%;
}

h2 {
  font-size: 500%;
}

h3 {
  font-size: 500%;
  text-shadow: -1px 0 #fffa00, 0 1px #fffa00, 1px 0 #fffa00, 0 -1px #fffa00;
}

p {
  font-size: 300%;
}

.text-leaderboard{
  font-size: 100%;
  margin-right: 10px;
}

.shadow {
  text-shadow: -2px 0 #fffa00, 0 2px #fffa00, 2px 0 #fffa00, 0 -2px #fffa00;
}

div {
  margin-left: auto;
  margin-right: auto;
}

table {
  font-size: 200%;
  text-align: left;
  margin-left: auto;
  margin-right: auto;

  table-layout: auto;
  width: 100%
  ;
}

th{
  text-shadow: -1px 0 #fffa00, 0 1px #fffa00, 1px 0 #fffa00, 0 -1px #fffa00;
}

.myrow{
  /*text-shadow: -1px 0 #fffa00, 0 1px #fffa00, 1px 0 #fffa00, 0 -1px #fffa00;*/
  color: #fffa00;
}

.logo{
  max-width: 40vw;

}

/* img {
max-width: 40vw;
} */

.gif{
    width: 100vw;
}

.endgif{
  z-index: 1;
  position: fixed;
  height: 100vh;

  top: 0px;
  left: 0px;
}

.score {
  position: fixed;
  bottom: 0;
  right: 100px;
}

.highscore {
  position: fixed;
  bottom: 0;
  left: 100px;
}

#info-push{
  animation: blinkingText 0.8s linear infinite;

}

#overall-scores {}

  #bern-vs-chur {}

    /* Blinkende Schrift */
    .blink {
      animation: blinkingText 0.8s linear infinite;
    }

    @keyframes blinkingText {
      0% {
        text-shadow: 0px 0 #fffa00, 0 0px #fffa00, 0px 0 #fffa00, 0 0px #fffa00;
        /*color: #FF0092;*/
      }

      100% {
        text-shadow: -1px 0 #fffa00, 0 1px #fffa00, 1px 0 #fffa00, 0 -1px #fffa00;
        /*color: #fffa00;*/
      }
    }

    a {color: #FF0092;}

    a:hover {color: #fffa00;}

    .playerButton {

      display:inline-block;
      cursor:pointer;
      color:#fffa00;
      font-family:'VT323', monospace;
      font-size:50px;
      padding:14px 47px;
      text-decoration:none;
      border-style:hidden;
      background: transparent;
    }

    .button-gamestart{
      margin-top: 10rem;
      font-size:75px;
    }

    .playerButton:hover {
      background:transparent;
      color:#f008b7;
      animation: blinkingText 1.5s infinite;
    }

    .playerButton:focus {
      background: transparent;
      color:#f008b7;
      border-style: hidden;
      animation: blinkingText 1.5s infinite;
    }

    .playerButton:active {
      position:relative;
      top:1px;
    }

    .hidden {
      display: none !important;
    }

    .flexbox {
      display: flex;
      margin: auto;
    }

    #playerinput {
      background: transparent;
      border: none;
      font-family: 'VT323', monospace;
      font-size: 100%;
      color: #fffa00;
      ;
    }

    ::placeholder {
      color: #fffa00;
      opacity: 0.8; /* Firefox */
      /*text-shadow: -1px 0 #fffa00, 0 1px #fffa00, 1px 0 #fffa00, 0 -1px #fffa00;*/

      animation: blinkingText 0.8s infinite;

    }



    /* The Modal (background) */
    /* The Modal (background) */
    /* The Modal (background) */
    /* The Modal (background) */
    /* The Modal (background) */

    .modal {
      display: block; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      /*overflow: auto;*/ /* Enable scroll if needed */
      background-color: none; /* Fallback color */
      /*background-color: rgba(218,165,32,0.98);*/
      background-color: none;
    }

    /* Modal Content/Box */
    .modal-content {
      background-color: black;
      margin: 25vh auto; /* 15% from the top and centered */
      padding: 15px;
      padding-top: 0px;
      border: 5px solid black;
      width: 80%; /* Could be more or less, depending on screen size */
      height: 550px;
      border: solid 10px;
      border-color: #FF0092;
    }


    progress[value] {

      position: fixed;
      bottom: 10px;
      left: 100px;

      background: transparent;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-style: solid;
      border-color: #FF0092;


      width: 820px;
      height: 20px;
    }

    progress[value]::-moz-progress-bar {

      border-style:groove;
      background-image:

      -moz-linear-gradient(
        transparent 0%,
        rgba(0, 0, 0, 0) 50%,
        rgba(0, 0, 0, 0) 50%,
        transparent 0%
        ),
        /*
        -moz-linear-gradient(
        top,
        rgba(255, 255, 255, 0.5),
        rgba(0, 0, 0, 0.1)),
        ),
        */

        -moz-linear-gradient(
          top,
          #fffa00,
          #FF0092
          );
          border-style: hidden;
          background-color: black;
          /* background-size: 5px 20px, 100% 100%, 100% 100%; */
        }
